Source: python-typing-extensions
Maintainer: Pexip AS <packaging@pexip.com>
XSBC-Pexip-Original-Maintainer: Debian Python Team <team+python@tracker.debian.org>
XSBC-Pexip-Original-Uploaders: Michael R. Crusoe <crusoe@debian.org>, Colin Watson <cjwatson@debian.org>
Section: python
Testsuite: autopkgtest-pkg-python
Priority: optional
Build-Depends: debhelper-compat (= 13),
               flit (>= 3.11),
               pybuild-plugin-pyproject,
               python3-all:any,
               python3-setuptools
Standards-Version: 4.7.0
Vcs-Browser: https://salsa.debian.org/python-team/packages/python-typing-extensions
Vcs-Git: https://salsa.debian.org/python-team/packages/python-typing-extensions.git
Homepage: https://typing-extensions.readthedocs.io/en/latest/
Rules-Requires-Root: no
XS-Pexip-Upstream: http://deb.debian.org/debian/ forky

Package: python3-typing-extensions
Architecture: all
Depends: ${misc:Depends},
         ${python3:Depends}
Multi-Arch: foreign
Description: Backported and Experimental Type Hints for Python
 The "typing_extensions" module serves two related purposes:
 .
 1. Enable use of new type system features on older Python versions.
 2. Enable experimentation with new type system PEPs before they are accepted
    and added to the "typing" module.
 .
 "typing_extensions" is treated specially by static type checkers such as mypy
 and pyright. Objects defined in "typing_extensions" are treated the same
 way as equivalent forms in "typing".
